<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #ff5050;
    text-decoration: underline;
  }
</style>

<div class="content" role="main">
  <!-- The image defined in images.component.ts can be rendered using the advanced-image component: -->
  <!-- <advanced-image [cldImg]="img"></advanced-image> -->
  <quickstart-image></quickstart-image>
  <quick-example-image></quick-example-image>
  <full-example-image></full-example-image>
  <transformation-image></transformation-image>
  <asset-instance-image></asset-instance-image>
  <plugins-image></plugins-image>
  <lazyload-image></lazyload-image>
  <responsive-image></responsive-image>
  <accessibility-image></accessibility-image>
  <placeholder-image></placeholder-image>
  <lazyload-placeholder-image></lazyload-placeholder-image>
  <syntax-overview-image></syntax-overview-image>
  <delivery-type-image></delivery-type-image>
  <transforming-your-image-image></transforming-your-image-image>
  <chaining-transformations-image></chaining-transformations-image>
  <resizing-cropping-image></resizing-cropping-image>
  <auto-gravity-image></auto-gravity-image>
  <converting-format-extension-image></converting-format-extension-image>
  <converting-format-delivery-image></converting-format-delivery-image>
  <auto-format-image></auto-format-image>
  <effects-image></effects-image>
  <overlays-image></overlays-image>
  <image-optimizations-image></image-optimizations-image>
</div>

<br />
<h2><a href="videos">Go to video transformations...</a></h2>
