:host ::ng-deep img {
  max-width: 50%;
}

:host ::ng-deep video {
  max-width: 50%;
}

h2 {
    text-align: center;
}

div {
  text-align: center;
}

a,
a:visited,
a:hover {
  color: #FF5050;
  text-decoration: underline;
}
