<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #ff5050;
    text-decoration: underline;
  }
</style>

<div class="content" role="main">
  <!-- The video defined in videos.component.ts can be rendered using the advanced-video component: -->
  <!-- <advanced-video [cldVid]="vid" controls autoPlay muted loop></advanced-video> -->
  <transforming-your-video-video></transforming-your-video-video>
  <transformation-video></transformation-video>
  <media-event-video></media-event-video>
  <poster-video></poster-video>
  <poster-auto-video></poster-auto-video>
  <plugins-video></plugins-video>
  <sources-video></sources-video>
  <example1-video></example1-video>
  <example2-video></example2-video>
  <br />
  <h2><a href="images">Go to image transformations...</a></h2>
</div>
